@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
*{
    margin: 0 auto;
    font-family:Roboto, sans-serif;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
.container{
    width:100%;
    height:100%;
}
html{
    scroll-behavior: smooth;
}
.block1{
    background-image:url("img/bgc.png");
    background-size:cover;
    height:950px;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1110px;
    height:52px;
    color:#FFFFFF;
    padding-top:25px; 
}
.header_key > a {
    color:white;
    text-decoration: none;
}
.header_key > a:hover{
    color:rgba(255, 255, 255, 0.781);
}
.header_key{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    line-height:150%;
    margin-right:40px;
}
#signIn_logIn{
    font-size:14px;
}
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    z-index:1050;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
.modal:target{
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.modal-dialog{
    position:relative;
    width:auto;
    margin:10px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #333333;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    width:540px;
    height:613px;
    margin-top:130px;
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
}
.modal-title {
    margin-top:20px;
}
.close {
    position:absolute;
    top:15px;
    right:15px;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity:.5;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    background-color: #333333;
    margin-top:15px;
}
.modal-body>form>ul{
    list-style: none;
    padding:0;
}
.modal-body input{
    display:block;
}
.tab_form{
    display:none;
}
.tab_form.active,
#tab_1:checked ~ #form_1,
#tab_2:checked ~ #form_2
{
    display:block
}
label.tab_{
    color:#FFFFFF;
    letter-spacing: 2px;
    font-size:16px;
    font-weight: 500;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:50px; 
    cursor:pointer;
    border:#FFFFFF solid 1px;
    border-radius:15px;
    margin-bottom:30px;
}
label.tab.active,
input[name="tabs1"]:checked + label {
    text-transform:uppercase;
    background-color:#1b1b1b;
}
input[name="tabs1"]{
    display:none;
}
.tab_form>input{
    width:99%;
    height:40px;
    border-radius:5px;
    border:none;
    margin-top:20px;
    color:#333333;
    outline:none;
    font-size:15px;
}
.tab_form>ul{
    width:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px;
}
.tab_form>ul>li{
    transition:0.2s;
}
.tab_form>ul>li:hover{
    transform:scale(1.1);
}
.buton_form{
    display:block;
    margin:30px 0;
    font-size:18px;
    text-align:center;
}
#forget_email{
    display:block;
    text-align: center;
}
.tab_form>a:hover{
    color:#ffffffa1;
}
.recover{
    font-size:16px;
    width:100%;
    height:25px;
    display:inline-flex;
    align-items: center;
}
.recover input{
    width:40px;
}
#search_text{
    margin-left:15px;
}
#search_text >a{
    color:#FFFFFF;
    text-decoration: none;
}
#search_text >a:hover{
    color:rgba(255, 255, 255, 0.781);
}
#logo{
    margin-left:76px;
    margin-right:100px;
}
.header_key1{
    margin-right:10px;
}
.main_title{
    margin-top:505px;
    width:730px;
    height:49px;
    color:#FFFFFF;
}
.text_of_main_title{
    width:730px;
    height:49px;
    text-align:center;
    font-size:40px;
    line-height:auto;
    font-weight: bold;
}
.button1{
    margin-top:62px;
    width:267px;
    height:51px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border:white solid 1px;
    text-transform: uppercase;
    font-size:18px;
    line-height:21px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor:pointer;
}
.button1:hover{
    background-color:#2b2b2b;
}
.button1:active{
    background-color:#1d1d1d;
}
.bottom_main_block{
    width:100%;
    height:120px;
    margin-top:80px;
    border-top:#FFFFFF solid 1px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.block_with_small_blocks{
    width:1110px;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.cocofine_jewelry{
    width:175px;
    height:60px;
    border-right:#FFFFFF solid 1px;
}
#fix_border{
    border-right:none;
}
.tab-form{
    display:none;
}
.tab-form.active,
#tab-1:checked ~ #form-1,
#tab-2:checked ~ #form-2,
#tab-3:checked ~ #form-3,
#tab-4:checked ~ #form-4,
#tab-5:checked ~ #form-5,
#tab-6:checked ~ #form-6{
    display:block
}
label.tab{
    color:#333333;
    font-weight:700;
    line-height:21px;
    letter-spacing: 1px;
    font-size:18px;
    display:inline-flex; 
    width:165px;
    height:61px;
    background: #FFFFFF;
    box-shadow: 6px 6px #ececec;
    border:#D6D6D6 solid 1px;
    cursor:pointer;
    margin-top:60px;
    text-transform: uppercase;
}
label.tab:hover{
    background-color:#ececec;
}
label.tab.active,
input[name="tabs"]:checked + label {
    background-color:#333333;
    box-shadow: none;
    border:none;
    color:#FFFFFF;
    text-transform:uppercase;
}
input[name="tabs"]{
    display:none;
}
.block2{
    width:100%;
    height:1071px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.true_beauty{
    width:1110px;
    height:851px;
}
#title_of_beauty{
    font-size:21px;
    color:#333333;
    text-align:center;
    width:350px;
    height:29px;
    line-height:29px;
}
#text_of_real_beauty{
    font-size:30px;
    font-weight:bold;
    width:540px;
    height:41px;
    line-height:41px;
    color:#333333;
    text-align:center;
}
.container_of_tabs{
    width:1110px;
    height:706px;
    display:flex;
    flex-wrap:wrap;
}
.text_of_tab{
    display:flex;
    justify-content: center;
    align-items:center;
}
.content_of_form{
    width:1110px;
    height:588px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    margin-top:55px;
}
.photo_of_form{
    transition:0.2s;
}
.photo_of_form:hover{
    transform: scale(1.1);
}
.block3{
    background-image:url(img/bck_of_our_saloons.png);
    width:100%;
    height:541px;
}
.text1{
    width:350px;
    height:29px;
    color:#FFFFFF;
    font-size:21px;
    line-height:29px;
    font-weight:normal;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:100px;
    margin-top:20px;
}
.text2{
   width:540px;
   height:41px;
   font-size:30px;
   font-weight:bold;
   line-height:41px;
   color:#FFFFFF;
   display:flex;
   justify-content:center;
   align-items:center;
   padding-top: 15px;
}
.text3{
    width:730px;
    height:100px;
    color:#FFFFFF;
    font-size:18px;
    font-weight:normal;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center; 
    padding-top:40px;
}
.our_saloons{
    width:225px;
    height:51px;
    background-color:#FFFFFF;
    text-transform: uppercase;
    color:#333333;
    font-size:18px;
    font-weight:600;
    letter-spacing: 1px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:60px;
    border:none;
    cursor:pointer;
}
.our_saloons:hover{
    background-color:#c4c4c4;
}
.our_saloons:active{
    background-color:#adadad;
}
.block4{
    width:1110px;
    height:626px;
    margin-top:120px;
}
.text4{
    text-align:center;
    color: #333333;
    font-size:21px;
    font-weight: 500;
    line-height:29px;
}
.text5{
    width:100%;
    height:41px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:15px;
    color:#333333;
    font-size:30px;
    font-weight: bold;
    line-height:41px;
}
.imgs_{
    margin-top:60px;
    width:1110px;
    height:370px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
}
.img1{
    width:350px;
    height:370px;
}
.img1>a>img{
    filter:grayscale(100%);
    transition:0.2s;
}
.img1>a>img:hover{
   filter:grayscale(0%);
   transform:scale(1.1);
}
.our_blog{
    width:261px;
    height:51px;
    background-color:#333333;
    color:#FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500;
    line-height:21px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:75px;
    border:none;
    cursor:pointer;
}
.our_blog:hover{
    background-color:#242424;
}
.our_blog:active{
    background-color:#1a1a1a;
}
.block5{
    width:1110px;
    height:745px;
    margin-top:120px;
}
.ojjo_jewelry{
    text-align: center;
    font-size:21px;
    font-weight: 400;
    line-height:29px;
    color:#333333;
}
.text6{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    color:#333333;
    line-height:41px;
    letter-spacing: 1px;
    margin-top:15px;
    margin-bottom:60px;
}
.block_of_videos>video{
    margin:0;
    transition:0.2s;
}
.block_of_videos>video:hover{
    transform:scale(1.05);
}
.video{
    margin:0;
    height:292px;
    width:278px;
    transition:.2s;
}
.video:hover{
    transform:scale(1.05);
}

.block_of_videos{
    width:1110px;
    height:584px;       
    display:flex;
    flex-wrap:wrap;
}
.block6{
    margin-top:135px;
    width:100%;
    height:478px;
    background-image:url(img/bck_ground.png);
    color:#FFFFFF;
}
.advices{
    width:920px;
    height:29px;
    padding-top:100px;
    text-align:center;
    font-size:21px;
    line-height:29px;
    font-weight: 400;
}
.exclusive{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    line-height:41px;
    margin-top:15px;
}
.block_distribution{
    width:764px;
    height:113px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:60px;
}
.list_of_block6{
    line-height: 40px;
    padding-right:60px;
}
.list_of_block6 ul{
    list-style:none;
    padding:0;
}
.list_of_block6>ul>li{
    padding-left:40px;
    background:url('img/subscribe__icon.png') no-repeat left center;
}
.border_of_distribution{
    width:448px;
    height:113px;
    border:#FFFFFF solid 1px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.form_of_distribution{
    width:418px;
    height:84px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#FFFFFF;
}
.form_of_distribution>input{
    width:200px;
    height:45px;
    color:#3333337e;
    font-size:14px;
    line-height:16px;
    font-weight: 500;
}
.form_of_distribution>input::placeholder{
    padding:15px 87px 14px 19px;
}
.distribution_button{
    width:162px;
    height:45px;
    color:#FFFFFF;
    font-size:14px;
    text-transform: uppercase;
    background-color:#333333;
    font-weight: 450;
    border:none;
    cursor:pointer;
    letter-spacing: 2px;
}
.distribution_button:hover{
    background-color:#2b2b2b;
}
.distribution_button:active{
    background-color:#1d1d1d;
}
.footer{
    width:1110px;
    height:295px;
    margin-top:80px;
    display:flex;
}
.footer ul{
    list-style: none;
    padding-left:0;
    padding-top:30px;
}
.footer ul>li{
    padding-bottom:15px;
    color:#333333;
    font-size:14px;
    font-weight: 500;
    line-height:21px;
}
.footer ul>li>a{
    color:#333333;
}
.footer ul>li>a:hover{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.links{
    width:255px;
    height:194px;
}
.payment{
    width:255px;
    height:179px;
}
.contacts{  
    width:255px;
    height:200px;
}
.contacts_list{
    margin-top:30px;
}
.contact_item{
    width:255px;
    height:21px;
    background-image:url("img/entypo_old-phone.png");
    background-repeat: no-repeat;
    margin:0;
    padding-bottom:20px;
}
.contact_item2{
    background-image:url("img/entypo_mail.png");
    background-repeat: no-repeat;
}
.text_contact_item{
    color:#333333;
    font-size:15px;
    font-weight: 500;
    padding-top:2px;
    width:190px;
    height:21px;
}
.social_media{
    width:255px;
    height:176px;
}
.social_media>ul>li{
    display:inline-block;
    padding-right:20px;
}
#latin_text{
    display:block;
    color:#333333;
}
.footer_text{
    font-size:18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height:25px;
    color:#333333;
    text-transform: uppercase;
    width:255px;
    border-bottom:#333333 solid 1px;
    padding-bottom:10px;
}
.footer_of_footer{
    width:1110px;
    height:41px;
    border-top:#333333 solid 1px;
    display:flex;
    align-items: center;
    padding-bottom:20px;
}
.OJJOjewelry{
    font-size:14px;
    line-height:21px;
    color:#333333;
    font-weight: 500;
}
.OJJOjewelry>a{
    color:#333333;
}
.OJJOjewelry>a:hover{
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}
            /*---- СТРАНИЦА КАТАЛОГА----*/
.fixed_header{
    background-color:#333333;
    height:111px;
}
.filter_block{
    width:1110px;
    margin-top:100px;
}
#filter_list{
    width:1100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.filter_block>ul{
    padding:0;
    margin:0;
    position:relative;
}
.filter_block ul li{
    margin:0;
    position:relative;
    display:inline-block;
    padding:10px 0;
    width:160px;
    text-align: left;
    border-bottom:#333333 solid 1px;
}
.filter_block ul li img{
    position:absolute;
    right:0;
    bottom:17px;
}
.filter_block ul a{
    display:block;
    color:#333333;
    font-size:16px;
    line-height:24px;
    font-weight: 450;
}
.filter_block ul ul {
    display:none;
    position:absolute;
    top:100%;
    z-index:10;
    padding:0px;
}
.filter_block ul li:hover > ul{
    display:inherit;
}
.filter_block ul ul li{
    background-color:#ffffff;
    text-align:center;
    width:160px;
    list-style: none;
    float:none;
    display:list-item;
    position:relative;
}
.filter_block ul ul li:hover{
    background-color:#e4e4e4;
}
.filter_block ul ul li a {
    color:#333333;
}
.card_block{
    width:1040px;
    height:929px;
    margin-top:94px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.card{
    width:280px;
    height:369px;
}
.card a img{
    width:280px;
    height:220px;
    transition:.2s;
}
.card a img:hover{
    transform:scale(1.1);
}
.kind_of_jewelry{
    font-size:16px;
    font-weight: 400;
    line-height:24px;
    color:#333333;
    margin-top:25px;
    text-align:center;
}
.name_of_brand{
    font-size:24px;
    font-weight: bold;
    text-align: center;
    line-height: 34px;
    margin-top:10px;
    color:#333333;
}
.price_block{
    width:129px;
    height:41px;
    margin-top:15px;
    background-color: #333333;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#FFFFFF;
}
.price_block:hover{
    background-color:#2b2b2b;
}
.price_block:active{
    background-color: #1d1d1d;
}
.card_block2{
    width:1040px;
    margin-top:55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.margin-card{
    margin-top:95px;
}
#block_more_info{
    width:1110px;
    height:51px;
    display:flex;
    justify-content: center;
}
#more-button{
    width:233px;
    height:51px;
    margin:-35px;
    background-color:#333333;
    color:#ffffff;
    letter-spacing: 2px;
    font-size:18px;
    font-weight: normal;
    line-height:21px;
    border:none;
    text-transform: uppercase;
    cursor:pointer;
}
#more-button:hover{
    background-color:#2b2b2b;
}
#more-button:active{
    background-color:#1d1d1d;
}
.block_with_read_more{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:923px;
    height:400px;
    margin-bottom:-50px;
}
#read_me{
    width:540px;
    height:240px;
    color:#333333;
    line-height: 30px;
    font-size:16px;
    font-weight: 500;
    padding-right:100px;
}
#services{
    width:279px;
    height:296px;
}
.read-more-state {
display: none;
}
    
.read-more-target {
opacity: 0;
max-height: 0;
font-size: 0;
transition: .2s ease;
}
    
.read-more-state:checked ~ .read-more-wrap .read-more-target {
opacity: 1;
font-size: inherit;
}
    
.read-more-state ~ .read-more-trigger:before {
content: 'ЧИТАТЬ ПОЛНОСТЬЮ';
}
    
.read-more-state:checked ~ .read-more-trigger:before {
content: 'СКРЫТЬ';
}
    
.read-more-trigger {
cursor: pointer;
display: inline-block;
padding: 0 .5em;
color: #333333;
text-transform: uppercase;
font-size:18px;
letter-spacing: 2px;
font-weight: 500;
line-height:21px;
border-bottom: #333333 dashed 1px;
}



