*{
    margin: 0 auto;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
.container{
    background-image:url("img/bgc.png");
    background-size:1920px 950px;
    width:100%;
    height:950px;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1110px;
    height:52px;
    color:#FFFFFF;
    padding-top:25px; 
}
.header_key > a {
    color:white;
    text-decoration: none;
}
.header_key > a:hover{
    color:rgba(255, 255, 255, 0.781);
}
.header_key{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    line-height:150%;
    margin-right:40px;
}
#search_text{
    margin-left:15px;
}
#search_text >a{
    color:#FFFFFF;
    text-decoration: none;
}
#search_text >a:hover{
    color:rgba(255, 255, 255, 0.781);
}
#logo{
    margin-left:76px;
    margin-right:100px;
}
.header_key1{
    margin-right:10px;
}
.main_title{
    margin-top:505px;
    width:730px;
    height:49px;
    color:#FFFFFF;
}
.text_of_main_title{
    width:730px;
    height:49px;
    text-align:center;
    font-size:40px;
    line-height:auto;
    font-weight: bold;
}
.button1{
    margin-top:62px;
    width:267px;
    height:51px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border:white solid 1px;
    text-transform: uppercase;
    font-size:18px;
    line-height:21px;
    font-weight: 600;
    letter-spacing: 2px;
}
.button1:hover{
    background-color:#2b2b2b;
}
.button1:active{
    background-color:#1d1d1d;
}
.bottom_main_block{
    width:100%;
    height:120px;
    margin-top:80px;
    border-top:#FFFFFF solid 1px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.block_with_small_blocks{
    width:1110px;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.cocofine_jewelry{
    width:175px;
    height:60px;
    border-right:#FFFFFF solid 1px;
}
#fix_border{
    border-right:none;
}
.tab-form{
    display:none;
}
.tab-form.active,
#tab-1:checked ~ #form-1,
#tab-2:checked ~ #form-2,
#tab-3:checked ~ #form-3,
#tab-4:checked ~ #form-4,
#tab-5:checked ~ #form-5,
#tab-6:checked ~ #form-6{
    display:block
}
label.tab{
    color:#000000;
    font-weight:25px;
    display:inline-flex;  
    width:165px;
    height:61px;
    background-color:beige;
    border-radius:3px 3px 0 0 ;
    margin-bottom: -1px;
    cursor:pointer;
}
label.tab.active,
input[name="tabs"]:checked + label {
    background-color:#FFF;
    color:#1d5f75;
}
input[name="tabs"]{
    display:none;
}
.block2{
    width:100%;
    height:1071px;
    background-color:beige;
    display:flex;
    justify-content: center;
    align-items:center;
}
.true_beauty{
    width:1110px;
    height:851px;
    background-color:azure;
}
#title_of_beauty{
    font-size:21px;
    color:#333333;
    text-align:center;
    width:350px;
    height:29px;
    line-height:29px;
}
#text_of_real_beauty{
    font-size:30px;
    font-weight:bold;
    width:540px;
    height:41px;
    line-height:41px;
    color:#333333;
    text-align:center;
}


